---
interface Props {
  className?: string;
  style?: string;
}

const { className = "", style = "" } = Astro.props;
---

<div class={`bg-[#ededed] card p-4 rounded-3xl shadow-md flex items-center gap-3 flex-col justify-center ${className}`} style={style}>
  <slot />
</div>
