---
import { Image } from "astro:assets";
import Slide from "./Slide.astro";
---

<div class="grid gap-4 md:grid-rows-3 grid-rows-1 grid-cols-1">
  <div class="rounded-lg grid md:grid-cols-3 grid-cols-1 md:grid-rows-2 grid-rows-auto gap-4">
    <Slide 
      upperText="Up to" 
      mainText="16GB" 
      lowerText="Memory" 
      mainTextGradient="from-[#4098bf] to-[#4098bf]"
    />
    
    <Slide 
      mainText="Thunderbolt / USB4" 
      imageSrc="/usb4.png"
      imageAlt="Thunderbolt"
      mainTextClass="!text-xl"
      imageWidth={80}
      imageHeight={80}
      textOrder="image, mainText"
      className="!pr-0"
    />
    
    <Slide 
      upperText="Up to" 
      mainText="2TB" 
      lowerText="Storage" 
      mainTextGradient="from-[#4098bf] to-[#4098bf]"
    />
    
    <Slide
      lowerText="Touch ID"
      imageSrc="/touchId.png"
      imageAlt="Touch ID"
      imageWidth={60}
      imageHeight={60}
      textOrder="upperText, image, lowerText"
    />
    
    <Slide 
      lowerText="Wifi 6"
      imageSrc="/wifi.png"
      imageAlt="Wifi ID"
      imageWidth={80}
      imageHeight={80}
      textOrder="image, lowerText"
    />
  </div>

  <Slide 
    upperText="Explore the Future" 
    mainText="AI Revolution" 
    lowerText="Stay Ahead"
    bgImage="/ai.jpg"
    bgOverlay="bg-black/60"
    textOrder={["mainText", "upperText", "lowerText"]}
  />

  <div class="grid md:grid-cols-2 grid-cols-1 grid-rows-2 gap-4">
    <Slide 
      mainText="P3 wide color"
      mainTextGradient="from-[#7f418a] to-[#e72752]"
      textOrder={["mainText"]}
    />
    
    <Slide 
      mainText="1333''"
      lowerText="Retina Display"
      mainTextGradient="from-[#7f418a] to-[#e72752]"
      textOrder={["mainText", "lowerText"]}
    />
    
    <div class="md:col-span-[1.5]">
      <Slide 
        upperText="Up to"
        mainText="9x"
        lowerText="Faster machine learning"
        mainTextGradient="from-[#7f418a] to-[#e72752]"
        textOrder={["upperText", "mainText", "lowerText"]}
        className="text-center"
      />
    </div>
    
    <Slide 
      upperText="Up to"
      mainText="2x"
      lowerText="Faster SSD"
      mainTextGradient="from-[#417b8a] to-[#e72752]"
      textOrder={["upperText", "mainText", "lowerText"]}
      className="text-center"
    />
  </div>
</div>
