---
import { Image } from "astro:assets";
import Slide from "./Slide.astro";
---

<div class="grid gap-4 grid-rows-[1fr_4fr] grid-cols-1">
    <div class="rounded-lg grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-2">
      <Slide
        imageSrc="/18hrsUp.png"
        imageAlt="Advanced Camera ISP"
        imageWidth={100}
        imageHeight={100}
        lowerText="Advanced Camera ISP"
      />
      <Slide
        upperText="Up to"
        imageSrc="/18hrsUp.png"
        imageAlt="Battery Life"
        imageWidth={150}
        imageHeight={100}
        lowerText="Battery Life"
        className="flex flex-col items-center text-center"
      />
      <Slide
        upperText="Up to"
        imageSrc="/tablet.png"
        imageAlt="Tablet"
        imageWidth={150}
        imageHeight={80}
        lowerText="Battery Life"
      />
      <Slide 
        upperText="Up to" 
        mainText="3.5x" 
        lowerText="Faster CPU"
      />
    </div>
  
    <div class="grid md:grid-cols-2 sm:grid-cols-1 grid-cols-1 gap-5 rounded-lg">
      <div class="rounded-2xl grid md:grid-rows-[2fr_1fr] gap-5">
        <Slide
          imageSrc="/macbook.png"
          imageAlt="MacBook"
          imageWidth={600}
          imageHeight={600}
          className="rounded-lg w-full h-full flex items-center justify-center"
        />
        <div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
          <Slide 
            upperText="New" 
            mainText="Magic Keyboard" 
            lowerText="Smooth typing experience"
            imageSrc="/keyboard.png"
            imageAlt="Keyboard"
            imageWidth={200}
            imageHeight={100}
            className="bg-white shadow-lg p-6"
          />
          <Slide 
            mainText="Silent Design" 
            lowerText="Apple M1 Chip"
            mainTextGradient="from-[#7f418a] to-[#e72752]"
          />
        </div>
      </div>
  
      <div class="rounded-2xl grid sm:grid-cols-1 md:grid-cols-2 md:grid-rows-3 grid-cols-1 gap-5">
        <div class="grid col-span-2 sm:grid-cols-2 md:grid-cols-3 gap-4">
          <Slide
            imageSrc="/padlock.png"
            imageAlt="Secure Enclave"
            imageWidth={80}
            imageHeight={80}
            lowerText="Secure Enclave"
            className="rounded-lg w-full h-full flex flex-col items-center justify-center"
          />
          <Slide 
            upperText="Boosts Performance" 
            mainText="5x" 
            lowerText="Faster Graphics"
            mainTextGradient="from-[#ff5733] to-[#ffc107]"
            className="text-center md:col-span-2"
          />
        </div>
        <Slide 
          imageSrc="/m3.png" 
          imageAlt="M3 Chip" 
          imageWidth={150} 
          imageHeight={150}
          lowerText="Apple M3 Chip"
        />
      </div>
    </div>
</div>
